<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ParallelSuite" parallel="classes" thread-count="5">
    <test name="ParallelTests">
        <classes>
            <class name="scripts.ArticleTest"/>
            <class name="scripts.TitleTest"/>
        </classes>
    </test>
</suite>
